# Python & Virtual Environments
venv/
venv_new/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Node.js & Frontend
node_modules/
frontend/dist/
frontend/build/
.env

# Large Files & Datasets
Dataset/
Dataset_Cache_Main/
reference paper/

# OS specific
.DS_Store
Thumbs.db
.skinsight-ai
models/
*.pth
skinsight-ai/

# Ignore markdown files except README
*.md
!README.md
!frontend/README.md
!deploy_to_hf.ps1
!deploy_to_hf.sh
!push_error.txt
!start_server_background.ps1
!start_server.bat
!test_api.py
!test_cuda.py

